/*-------------- */
html {font-size: 62.5%;
      }
body { 
    font-family: 'Open Sans', sans-serif; ;
    font-size: 1.2rem;
    line-height: 1.65;
    padding: 15px;}
header {
        width: 100%;
        background-color: black;
        text-align: center;
        padding: 2em;
        font-family: 'Montserrat', sans-serif;}

   #section1 {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/banner.jpg");
    background-size:cover;
    background-position: center;
    text-align: center;
    padding: 1em;
    font-weight: 100;

}
#section1 h1 {

    color: #25a2c3 ;
    padding: 0.7em;
    font-weight: 900;
    font-size: 2em;
    line-height: 1;}

#section1 button {
    background-color: orangered;
    border: none;
    border-radius: 3px;
    padding: 0.9em 1.7em;
    color: white;
    font-weight: 600;
    font-size: 0.6em;
    text-transform: uppercase;
    margin: 20px;
}
/* ----MAIN---------*/
main { 
    text-align: center;
    padding: 2em;
    ;
       
}
main h3 {
    color: #25a2c3;
    font-weight: 900;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1;
 
}
main h2{
    color: white;
    background-color: orangered;
    font-size: large; 
    font-weight: bold;
}
    

main div{    
    color: white;
    background-color: orangered;
    font-weight: 100;
    text-align: center;
    line-height: 1.65;

}
main {border-top:2px;
      border-bottom:2px ;}
#pinco
    {border-radius: 90%;
     width: 100% ;}
.img1 {
    width: 100%;
    margin-top: 20px;



}
footer {
    background-color: #25a2c3;
    background-size: 100%;
}
footer h1 {color: white;
          font-size: larger;
          font-weight: bold;
}
footer p,ul,a {color: white;}





    








